Flask==3.0.0
gunicorn==21.2.0
websockets==12.0
requests==2.31.0
Pillow==10.1.0
beautifulsoup4==4.12.2
groq==0.4.1
requests-toolbelt==1.0.0
python-dotenv==1.0.0
beautifulsoup4
Flask
groq
gunicorn
Pillow
python-dotenv
requests
requests-toolbelt
websockets
